.mosquito1 {
    height: 30px;
    width: 30px;
}

.mosquito2 {
    height: 60px;
    width: 60px;
}

.mosquito3 {
    height: 90px;
    width: 90px;
}

.mosquito4 {
    height: 110px;
    width: 110px;
}